*{
    padding: 0;
    margin: 0;
   
}
html,body{
    width: 100%;
    height: 100%;
}
.container{
    margin: 0 auto;
    
}
.container .register{
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}
.btn{
    margin-top: 10px;
    color: white;
}
.btn .btn_log{
    margin-left: 10px;
    background-color: green;
    height: 50px;
    width: 70px;
    border-radius: 10px;
    
}
.btn .btn_reg {
    background-color: green;
    height: 50px;
    margin-left: 20px;
    width: 70px;
    border-radius: 10px;
  
}